
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');



body{
background: #DBE0E3;
}



li {
  list-style: square;
  color:darkblue;
}

.title{
  color:hotpink;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  text-align: center;

}

.lindsey {
  color:hotpink;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
text-align: center;
}

a:link {
  text-decoration: none;
}

.links{
color: darkblue;
font-style: italic;


list-style: square;
}
.list_titles {
color: darkblue;
font-family: cursive;
/* border-bottom: */

}


.profileimage {
  display: block;
  margin: 0 auto;
}



.footer {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  border: 10px solid grey;
  color: hotpink;
}
