.grid {
  display: grid;
  grid-template-columns: 100px 200px 400px
}
.grid div { border: 1px solid #000000}

.grid2 {
  background: #cccccc;
  margin-top: 100px;
  display: grid;
  /* grid-template-columns: 2fr 3fr ; */
  grid-template-columns: 2fr 2fr 2fr 2fr;
  max-width: 100%;
}
.grid2 div { border: 1px solid #000000}
