
.article1 {grid-template-columns: 1fr 2fr;}
.article3 {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
.article3 img {max-width: 100%;}
.article3 div {padding: 5px;}

nav {grid-template-columns: 5fr 5fr 5fr}

.mainmenu {grid-template-columns: 5fr 5fr 5fr 5fr}

.surfspot {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
}
